@import "tailwindcss";

@theme {
  --color-primary: #1dcd9f;
  --color-background: #222222;
  --color-text: #9f9fa9;
}

@utility hover-btn {
  @apply hover:bg-primary/30 transition-colors duration-300 ease-in-out border border-primary px-4 py-2 mt-14 cursor-pointer;
}

body {
  background-color: var(--color-background);
  color: white;
}
